body {
    background-color:#d0cec0;
}
hr {
    background-color: #f2f1ea;
    border: none;
    height: 1px;
}
img {
    border-radius: 10px 100px/ 120px;
    height: 280px;
} 

.Headings {
    color: #483D8B;
}

.Headings:hover {
    color: aliceblue;
}
